body{
    margin:0;
    width:100%;
}
.heading{
    background-color: #3399cc;
    padding:1px;
}
.main-heading{
    font-family: "Century Gothic";
    font-size: 45px;
    color:white;
    font-weight: 100;
    margin-left: 30px;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: #333333;
    width: 100%;
}
.nav-list{
    font-family:Calibri;
    list-style-type: none;
    display:flex;
    align-items: center;
    margin: 0;
    padding-left: 10px;
    padding-top: 0;
    padding-bottom: 0;
    overflow: hidden;
}
.nav-item{
    margin-left: 15px;
}
.icon{
    align-items: center;
    margin-left: auto;
    padding: 5px;
    padding-right: 40px;
    width:25px;
    height:25px;
}
.nav-item a {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
}
*{
    box-sizing:border-box
}

.carousel-container{
    max-width: 1000px;
    position: absolute;
    top:180px;
    left:20%;
    margin: auto;

}
.slide{
    display: none;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.number{
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.images{
    justify-content: center;
    height: 400px;
    width: 800px;
}
.prev, .next {
    color: white;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 10px;
    transition: 0.6s;
    border-radius: 0 3px 3px 0;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.more{
    text-align:center;
}
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}
.dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s;
}
.active, .dot:hover {
    background-color: #717171;
}